html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

main {
    scroll-snap-type: mandatory;
}

section {
    padding-top: 5rem;
}

#home {
    padding-top: 0;
    display: flex;
    scroll-snap-align: center;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
}

#work {
    scroll-snap-align: start;
    max-width: 1400px;
    margin: 0 auto 15% auto;
}

#about {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 8%;
    scroll-snap-align: start;
}

.insta-gallery {
    margin-top: 10%;
}

/* TEXT STYLES */

h1 {
    font-family: industry-inc-outline, sans-serif;
    font-size: 4rem;
}

h2 {
    font-family: adelle, serif;
    font-size: 1.5rem;
    font-weight: 100;
}

h3 {
    font-family: industry-inc-base, sans-serif;
    font-size: 3rem;
    margin: 0;
}

h4 {
    font-family: raleway, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    writing-mode: vertical-rl;  
}

.em-point_down {
    padding: 2rem 0;
}

p {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

a {
    color: #FA4E4D;
}

a:hover {
    color: #FA4E4D;
    text-decoration: underline solid black;
}

.bold-type {
    font-weight: 900;
    letter-spacing: 0.05rem;
}

.white-out {
    color: white;
}

.overlap h1 {
    position: absolute;
    z-index: 2;
    padding-top: .5%;
}

.overlap img {
    padding-left: 31%;
}

/* NAVBAR */

.navbar {
    font-family: raleway, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.8);
}

.nav-item a {
    margin-right: 2rem;
    color: #222222;
}

.nav-item a:hover {
    text-decoration: underline black;
    border-bottom: none;
}

.nav-item .active {
    color: #FA4E4D;
}

/* CASE STUDY CARDS */

.card {
    border: none;
    padding: 0;
}

.card-title {
    margin-top: .5rem;
    margin-bottom: -.5rem;
}

.card a {
    color: #222222;
    text-decoration: none;
}

.card a:hover {
    font-family: industry-inc-base, sans-serif;
}

/* SKILLS CARDS */

#about ul {
    list-style-type: none;
    font-family: raleway, sans-serif;
    font-size: 1.2rem;
}

/* FOOTER ELEMENTS */

footer {
    margin-top: 20%;
}

#be-social {
    margin: auto;
    text-align: center;
}

#be-social li {
    display: inline;
}

.squeeze {
    display: flex;
    justify-content: space-between;
}

.cats {
    position: relative;
    z-index: 2;
    margin: 0 2% -2% 2%;
}

#floor {
    height: 150px;
    border-top: solid 2px #222222;
    background-image: url("../images/plywood-tile.jpg");
}

/* FONT AWESOME ICONS */
i {
    padding-left: 0.40rem;
    padding-right: 0.40rem;
}
.fa-linkedin:hover {
    color:#FA4E4D;
}

.fa-instagram:hover {
    color:#FA4E4D;
}

.fa-twitter:hover {
    color:#FA4E4D;
}

.fa-github:hover {
    color:#FA4E4D;
}

.fa-dribbble:hover {
    color:#FA4E4D;
}